**/.vscode/**
**/*.ts
.vscode-test/**
.gitignore
languageExtension/node_modules/**
!languageExtension/node_modules/vscode-jsonrpc/**
!languageExtension/node_modules/vscode-languageclient/**
!languageExtension/node_modules/vscode-languageserver/**
!languageExtension/node_modules/vscode-languageserver-protocol/**
!languageExtension/node_modules/vscode-languageserver-types/**
!languageExtension/node_modules/vscode-uri/**